{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-md-10">
			<div class="card">
				<div class="card-header">Form</div>
				<div class="card-body">
					<img src="{{asset('uploads/') ~ image}}" alt="">
				{{form_start(post_form, {'attr': {'id': 'custom_post_form', 'class':'custom'}})}}
				{{form_end(post_form)}}

				<hr>
				{{dump(partial_array)}}
					
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}
