<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"> #}
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        	{% block whatever %}{% endblock %}
    </head> 
    <body>
    	{# Navigation #}
        {% block body %}{% endblock %}
        <script type="text/javascripts" src="{{asset('build/app.js')}}"></script>
        <script type="text/javascripts" src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
