<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        	{% block whatever %}{% endblock %}
    </head> 
    <body>
    	{# Navigation #}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
